<app-toolbar (insertSpeaker)="onAddSpeaker($event)"></app-toolbar>
<div class="container show-fav">
  <div class="row">
    <div class="fav-list">
      @for (speaker of speakers(); track speaker.id) {
        <div class="favbox">
          <div class="fav-clm col-sm-7">
            <h4>{{speaker.first}} {{speaker.last}} ({{speaker.id}})</h4>
          </div>
          <div class="fav-clm col-sm-5">
            <div class="action">
              <span (click)="toggleFavorite(+speaker.id)">
                <div [class]="speaker.favorite ? 'fa fa-star orange' : 'fa fa-star-o orange'"></div>
                &nbsp;&nbsp; Favorite
              </span>
              <span (click)="deleteSpeaker(+speaker.id)">
                <i class="fa fa-trash red"></i> Delete
              </span>
            </div>
          </div>
        </div>
      }
    </div>
  </div>
</div>