<div class="modal fade" id="addSpeakerModal" tabindex="-1" aria-labelledby="addSpeakerModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addSpeakerModalLabel">Add New Speaker</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form #speakerForm="ngForm">
            <div class="mb-3">
              <label for="firstName" class="form-label">First Name</label>
              <input type="text" class="form-control" id="firstName" [(ngModel)]="first" name="first" required>
            </div>
            <div class="mb-3">
              <label for="lastName" class="form-label">Last Name</label>
              <input type="text" class="form-control" id="lastName" [(ngModel)]="last" name="last" required>
            </div>
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="favorite" [(ngModel)]="favorite" name="favorite">
              <label class="form-check-label" for="favorite">Favorite</label>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="onSubmit()" 
          [disabled]="!speakerForm.form.valid">Add Speaker</button>
        </div>
      </div>
    </div>
  </div>