<div class="container show-fav mt-3">
    <div *ngIf="loading() && !loadingMore()" class="col-sm-6">Loading...</div>
    <div *ngIf="error()" class="col-sm-6">Error</div>

    <ng-container *ngIf="speakers().length">
      <div *ngFor="let speaker of speakers()" class="col-sm-12">
        {{speaker.first}} {{speaker.last}} ({{speaker.id}})
      </div>

      <button *ngIf="hasNextPage()"
              class="btn btn-primary mt-2"
              (click)="loadMore()"
              [disabled]="loadingMore()">
        {{loadingMore() ? 'Loading...' : 'Show More'}}
      </button>
    </ng-container>
  </div>