<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm mb-4">
  <div class="container-fluid">
    <span class="navbar-brand">Speakers Management</span>
    <div class="navbar-nav ms-auto">
      <button class="btn btn-primary d-flex align-items-center" (click)="openModal()">
        <i class="bi bi-plus-lg me-2"></i>
        Add Speaker
      </button>
      &nbsp;
      <button class="btn btn-info" (click)="onSortByIdDescending()">
        <span>Sort Speakers By Id Descending</span>
      </button>
      <div class="d-flex gap-2">
        <button 
          class="btn" 
          [class.btn-outline-dark]="!isDarkTheme()"
          [class.btn-outline-light]="isDarkTheme()"
          (click)="toggleAllSpeakers()">
          {{ isAllSelected() ? 'Uncheck All' : 'Check All' }}
        </button>
        <button 
          class="btn" 
          [class.btn-dark]="!isDarkTheme()"
          [class.btn-light]="isDarkTheme()"
          (click)="toggleTheme()">
          {{ isDarkTheme() ? '☀️ Light' : '🌙 Dark' }}
        </button>
      </div>
    </div>
  </div>
</nav>
<app-add-speaker-modal (insertSpeaker)="onInsertSpeaker($event)"></app-add-speaker-modal>